cachetools
certifi
charset-normalizer
click
colorama
Flask
google-api-core
google-auth
google-cloud-speech
googleapis-common-protos
grpcio
grpcio-status
gunicorn
idna
importlib-metadata
itsdangerous
Jinja2
lxml
MarkupSafe
numpy
packaging
proto-plus
pyasn1
pyasn1-modules
pyparsing
python-docx
requests
rsa
scipy
six
typing-extensions
urllib3
Werkzeug
zipp
